.sidebar-active
{
    width:11rem;
}
.sidebar-inactive
{
    width: 4rem;
}

.sidebar
{
    transition-property: width;
    transition-duration: 500ms;
    height:100vh;
    background-color:gray;
    padding-right: 5px;
    overflow-y: auto;
    overflow-x:hidden;
}

